*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header{
  z-index: 1;
  background: #22242A;
  position: fixed;
  width: calc(100% - 0%);
  height: 70px;
  display: flex;
  top: 0;
}

.header .header-menu{
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header .header-menu .title{
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}

.header .header-menu .title span{
  color: #4CCEE8;
}

.header .header-menu .sidebar-btn{
  color: #fff;
  position: absolute;
  margin-left: 240px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}

.header .header-menu .sidebar-btn:hover{
  color: #4CCEE8;
}

.header .header-menu ul{
  display: flex;
}

.header .header-menu ul li a{
  background: #fff;
  color: #000;
  display: block;
  margin: 0 10px;
  font-size: 18px;
  width: 34px;
  height: 34px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  transition-property: background, color;
}

.header .header-menu ul li a:hover{
  background: #4CCEE8;
  color: #fff;
}
.sidebar{
  z-index: 1;
  top: 0;
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: all 0.5s ease;
}

#check:checked ~ .sidebar{
	width: 78px;
}

.sidebar .logo-details{
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
}

.sidebar .logo-details .logo{
	font-size: 30px;
	color: #fff;
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}

.sidebar .logo-details .logo_name{
	font-size: 22px;
	color: #fff;
	font-weight: 600;
	transition: 0.3s ease;
	transition-delay: 0.1s;
}

#check:checked ~ .sidebar .logo-details .logo_name{
	transition-delay: 0s;
	opacity: 0;
	pointer-events: none;
}

.sidebar .nav-links{
	padding-top: 30px;
	overflow: auto;
}

#check:checked ~ .sidebar .nav-links{
	overflow: visible;
}

.sidebar .nav-links li{
	position: relative;
	list-style: none;
	transition: all 0.4s ease;
}

.sidebar .nav-links li:hover{
	background: #1d1b31;
}

.sidebar .nav-links li .icon-link{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#check:checked ~ .sidebar .nav-links li .icon-link{
	display: block;
}

.sidebar .nav-links li i{
	height: 50px;
	min-width: 78px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.sidebar .nav-links li a{
	display: flex;
	align-items: center;
	text-decoration: none;
}

.sidebar .nav-links li a .link_name{
	font-size: 18px;
	font-weight: 400;
	color: #fff;
}

#check:checked ~ .sidebar .nav-links li a .link_name{
	opacity: 0;
	pointer-events: none;
}

.sidebar .nav-links li .sub-menu{
	padding: 6px 6px 14px 80px;
	margin-top: -10px;
	background: #1d1b31;
	display: none;
}

.sidebar .nav-links li.showMenu .sub-menu{
	display: block;
}

.sidebar .nav-links li .sub-menu a{
	color: #fff;
	font-size: 15px;
	padding: 5px 0;
	white-space: nowrap;
	opacity: 0.6;
	transition: all 0.3 ease;
}

.sidebar .nav-links li .sub-menu a:hover{
	opacity: 1;
}

#check:checked ~ .sidebar .nav-links li .sub-menu{
    position: absolute;
	left: 100%;
	top: -10px;
	margin-top: 0;
	padding: 10px 20px;
	border-radius: 0 6px 6px 0;
	opacity: 0;
	display: block;
	pointer-events: none;
	transition: 0s;
}

#check:checked ~ .sidebar .nav-links li:hover .sub-menu{
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name{
	display: none;
}

#check:checked ~ .sidebar .nav-links li .sub-menu .link_name{
	display: none;
}

#check:checked ~ .sidebar .nav-links li .sub-menu .link_name{
	font-size: 18px;
	opacity: 1;
	display: block;
}

.sidebar .nav-links li .sub-menu.blank{
	padding: 3px 20px 6px 16px;
	opacity: 0;
	pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank{
	top: 50%;
	transform: translate(-50%);
}

.sidebar .profile-details{
	position: fixed;
	bottom: 0;
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #1d1b31;
	padding: 6px 55px 6px 0;
	transition: all 0.5s ease;
}

#check:checked ~ .sidebar .profile-details{
	background: none;
}

#check:checked ~ .sidebar .profile-details{
	width: 78px;
}

.sidebar .profile-details .profile-comtent{
	display: flex;
	align-items: center;
}

.sidebar .profile-details img{
	height: 52px;
	width: 52px;
	object-fit: cover;
	border-radius: 16px;
	margin: 0 14px 0 12px;
	background: #1d1b31;
	transition: all 0.5s ease;
}

#check:checked ~ .sidebar .profile-details img{
	padding: 10px;
}

.sidebar .profile-details .profile_name, .sidebar .profile-details .profile_job{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	white-space: nowrap;
}

#check:checked ~ .sidebar .profile-details i, 
#check:checked ~ .sidebar .profile-details .profile_name, 
#check:checked ~ .sidebar .profile-details .profile_job{
	display: none;
}

.sidebar .profile-details .profile_job{
	font-size: 12px;
}

.content{
  width: calc(100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
  background-color: #fff;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}


/* Responsive CSS */

@media screen and (max-width: 780px){
	
.header .header-menu .sidebar-btn{
	display: none;
}

.sidebar{
    display: none;
  }
	
#sidebar_btn{
    display: none;
  }

.content{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

#check:checked ~ .content{
    margin-left: 0;
  }

.mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

.nav_bar{
    background: #222;
    width: calc(100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

.nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

.nav_bar .nav_btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

.nav_bar .nav_btn:hover{
    color: #19B3D3;
  }

.mobile_nav_items{
    background: #2F323A;
    display: none;
  }

.mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

.mobile_nav_items a:hover{
    background: #19B3D3;
  }

.mobile_nav_items i{
    padding-right: 10px;
  }

.active{
    display: block;
  }
}


/*Content*/

.content .subtitle-name
{
	color: #11101d;
    font-size: 20px;
    font-weight: 800;
	padding: 10px 0 10px 0;
	margin: 15px;
}

/*Add buttom*/
.content .add
{
	color: white;
	background-color: #578FFF;
	text-decoration: none;
	padding: 10px;
	font-size: 18px;
	font-weight: 600;
	border-radius: 10px;
	transition: all .4s ease;
	margin: 15px;
}

.content .add:hover
{
	color: white;
	background-color: #003B96;
}

/*User's table*/
.info-user
{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
	width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}
	
.info-user thead tr 
{
    background-color: #ff4757;
    color: #ffffff;
}
	
.info-user th,
.info-user td 
{
    padding: 12px 15px;
}
	
.info-user tbody tr 
{
    border-bottom: 1px solid #dddddd;
	font-weight: 500;
    color: black;
}

.info-user tbody tr:nth-of-type(even) 
{
    background-color: #f3f3f3;
}

.info-user tbody tr:last-of-type 
{
    border-bottom: 2px solid #ff4757;
}


/*Category's table*/
.info-category
{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
	width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}
	
.info-category thead tr 
{
    background-color: #009879;
    color: #ffffff;
}
	
.info-category th,
.info-category td 
{
    padding: 12px 15px;
}
	
.info-category tbody tr 
{
    border-bottom: 1px solid #dddddd;
	font-weight: 500;
    color: black;
}

.info-category tbody tr:nth-of-type(even) 
{
    background-color: #f3f3f3;
}

.info-category tbody tr:last-of-type 
{
    border-bottom: 2px solid #009879;
}

/*product table*/
.info-product
{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
	width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}
	
.info-product thead tr 
{
    background-color: #476DFF;
    color: #ffffff;
}
	
.info-product th,
.info-product td 
{
    padding: 12px 15px;
}
	
.info-product tbody tr 
{
    border-bottom: 1px solid #dddddd;
	font-weight: 500;
    color: black;
}

.info-product tbody tr:nth-of-type(even) 
{
    background-color: #f3f3f3;
}

.info-product tbody tr:last-of-type 
{
    border-bottom: 2px solid #476DFF;
}

/*order table*/
.order-table
{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
	width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}
	
.order-table thead tr 
{
    background-color: #7d5fff;
    color: #ffffff;
}
	
.order-table th,
.order-table td 
{
    padding: 12px 15px;
}
	
.order-table tbody tr 
{
    border-bottom: 1px solid #dddddd;
	font-weight: 500;
    color: black;
}

.order-table tbody tr:nth-of-type(even) 
{
    background-color: #f3f3f3;
}

.order-table tbody tr:last-of-type 
{
    border-bottom: 2px solid #7d5fff;
}


/*admin table*/
.info-admin
{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
	width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}
	
.info-admin thead tr 
{
    background-color: #ac64bd;
    color: #ffffff;
}
	
.info-admin th,
.info-admin td 
{
    padding: 12px 15px;
}
	
.info-admin tbody tr 
{
    border-bottom: 1px solid #dddddd;
	font-weight: 500;
    color: black;
}

.info-admin tbody tr:nth-of-type(even) 
{
    background-color: #f3f3f3;
}

.info-admin tbody tr:last-of-type 
{
    border-bottom: 2px solid #ac64bd;
}


/*update buttom*/
.update-btn{
	background: #B122D8;
	padding: 8px;
	border-radius: 10px;
	border: 0px;
	color: white;
	cursor: pointer;
}

.update-btn:hover{
  background: #C75DE9;
}

/*delete buttom*/
.delete-btn{
	background:#FF3E3E;
	padding: 8px;
	border-radius: 10px;
	border: 0px;
	color: white;
	cursor: pointer;
}

.delete-btn:hover{
  background: #FF686A;
}


/*add product && add category*/
.content .card {
  background-color:whitesmoke;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 12px #a7aaaf;
}

.content .card .card-title{
    background:#6B59C3;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
	font-size: 20px;
}


.content .card form .add-product{ 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0 12px 0;
}

.content .card .add-category{ 
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0 12px 0;
}


form .add-product .input-group{ 
	margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.add-category .input-group{
	margin-bottom: 15px;
    width:100%;
}

.add-product .input-group .details,
.add-category .input-group .details{
	display: block;
	font-weight: 500;
	margin-bottom: 15px;
	font-size: 18px;
	color:gray;
	margin-left: 15px;
}

.add-product .input-group input
{
	height: 45px;
	width: 90%;
	outline: none;
	border-radius: 10px;
	border: 2px solid #e7e7e7;
	padding-left: 15px;
	font-size: 18px;
	border-bottom-width: 2px;
	transition: 0.3s;
	background: transparent;
	margin-left: 10px;
	margin-bottom: 10px;
}


.add-product .input-group .custom_select{
  position: relative;
  width: 90%;
  height: 40px;
  margin-left: 14px;
  margin-bottom: 15px;
}

.add-product .input-group .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.add-product .input-group .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.add-category .input-group input{
	height: 45px;
	width: 98%;
	outline: none;
	border-radius: 10px;
	border: 2px solid #e7e7e7;
	padding-left: 15px;
	font-size: 18px;
	border-bottom-width: 2px;
	transition: 0.3s;
	background: transparent;
	margin-left: 10px;
	margin-bottom: 10px;
}

.add-product .input-group input:focus,
.add-category .input-group input:focus,
.add-product .input-group .custom_select select:focus{
	border-color: #6B59C3;
}


.btn-save {
    width: 20%;
    padding: 10px;
    text-align: center;
    border: none;
    background: #3ED1B8;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
	margin-left: 10px;
	margin-top: -15px;
}

.btn-cancel {
    width: 20%;
    padding: 10px;
    text-align: center;
    border: none;
    background: #F32B2F;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}


/*alert add category*/
.alert.alert-danger.alert-dismissible.fade.show{
	opacity: 0.9;
	color:#FC1B61;
	padding: 15px;
	padding-left: 25px;
    border: none;
}


.alert.hide{
  display: none;
}

/*dashboard*/
.content .cont-1
{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	width: 25%;
	height: 25%;
	background-color:bisque;
	padding: 2%;
	margin: 1%;
	float: left;
	border-radius: 20px;	
	text-align: center;
}

.content .cont-1 .amount
{
	float: left;
	color: black;
    font-size: 35px;
    font-weight: 600;
    margin-left: 95px;
	margin-top: 10px;
}

/*status btn*/
.btn-info {
	width: 120px;
	opacity: 0.8;
	padding: 10px;
    text-align: center;
    background-color: #1eacbe;
    border: 1px solid #1eacbe;
	border-radius: 10px;
	cursor: pointer;
}

.btn-info:focus{
	color: aliceblue;
}

.btn-warning {
	width: 120px;
	opacity: 0.8;
	padding: 10px;
    text-align: center;
    background-color: #e9ab2e;
    border: 1px solid #e9ab2e;
	border-radius: 10px;
	cursor: pointer;
}

.btn-warning:focus{
	color: aliceblue;
}

.btn-success {
	width: 120px;
	opacity: 0.8;
	padding: 10px;
    text-align: center;
    background-color: green;
    border: 1px solid green;
	border-radius: 10px;
	cursor: pointer;
}

.btn-success:focus{
	color: aliceblue;
}

.btn-danger-order {
	width: 120px;
	opacity: 0.8;
	padding: 10px;
    text-align: center;
    background-color:#FF3E3E;
    border: 1px solid #FF3E3E;
	border-radius: 10px;
	cursor: pointer;
}

.btn-danger-order:focus{
	color: aliceblue;
}
